<div class="title-container">
    <h2>Todos os Produtos</h2>
    <form action="/produtos" method="get">
        <input type="text" name="search" class="search" placeholder="Pesquisar...">
        <input type="submit" class="btn" value="Buscar">
    </form>
</div>
<div class="add">
    <a href="/produtos/add" class="btn add">Adicionar Produto</a>
</div>

{{#if qtdSearch}}
<p class="qtd-search">{{qtdSearch}}</p>
{{/if}}

<div class="produtos">
{{#each produtosUsuario}}
<ul>
    <li>
        <div class="dados">
        <span>{{this.nome}}</span>
        <span class="dados2">Preço: {{this.preco}}</span>
        <span class="dados2">Categoria: {{this.Category.descricao}}</span>
        <span class="dados2">Estoque: {{this.qtd_estoque}}</span>
        </div>
        <span class="actions">
            <a href="/produtos/edit/{{this.id}}" class="btn btn-secondary btn-actions">Editar</a>
            <a href="/produtos/remove/{{this.id}}" class="btn btn-secondary btn-actions">Remover</a>
        </span>
    </li>
</ul>
{{/each}}
{{#if emptyProdutos}}
<p class="empty-produtos">Ainda não há produtos cadastrados</p>
{{/if}}
</div>